*{
    box-sizing: border-box;
}

body {
    background: #eee;
    display: flex; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 600px 300px 400px;
    gap: 20px;
}
div {
    border-radius: 15px;
    padding: 10px;
}
#header {
    grid-column: 1/5;
    display:grid;
    grid-template-columns: 100px 200px 1fr min-content;
    align-items: center;
    gap: 20px;
    padding: 0;
}
#header img {
    width: 100%
}
#header ul {
    grid-column: 4/5;
    list-style: none;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#header a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#main {
    background-image: url("img/happiest-dog.webp");
    background-size: cover;
    background-position-y: bottom;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px
}
#main h1 {
    font-size: 50px;
    color:white
}
#main h4 {
    font-size: 20px;
    color: white;
}
#grooming {
    background-color: white;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#grooming img {
border-radius: 15px;
width: 100%
}
#partners {
    background-color: white;
    grid-column: 4/5;
    grid-row: 3/5;
}
#partners img {
    display: flex;
    margin: auto;
    height: 70px;
}
.card {
    background-color: white;
}
#merch img {
    border-radius: 10px;
    width: 100%;
    gap: 5px;
    height: 200px;
}
#buddy img {
    border-radius: 10px;
    width: 100%;
    gap: 5px;
}
#dinning img {
    border-radius: 10px;
    width: 100%;
    gap: 5px;
}